{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>New Entry</h1>

    <form action="{% url 'new_submit' %}" method="POST">
        {% csrf_token %}
        <lable>Title:</label>
            <br>
        <input class="title" type="text" name="title">
            <br>
        <label>Content:</label>
            <br>
        <textarea class="content" type="text" name="content"> </textarea>
            <br>
        <input type="submit" value="Submit">
    </form>


{% endblock %}